<p>こんにちは！ <%= @resource.email %>!</p>

<p>パスワードの変更をリクエストいただいてどうもありがとうございます。</br>
 下記のリンクから変更を受け付けます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりが無い場合、破棄してください</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
